.vs/
Debug/
Release/
x64/

**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

**.swp

**.lib
**.Lib
**.pdb
**.exe
**.dll
**.obj
**.json
**.trace

/sandbox/out/**
/integration_tests/out/**

CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CmakeFiles/
build/

